* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

.w3-third img {
    margin-bottom: -6px;
    opacity: 0.8;
    cursor: pointer
}

.w3-third img:hover {
    opacity: 1
}

.w3-row {
    margin-bottom: 5rem;
}

image:hover {
    transform: scale(1.1);
}